a:not([href]) {
	cursor: pointer;
}
i.material-icons{
	vertical-align:bottom;
}
.fas{
    line-height: inherit !important;
}
.noafter:after, .nobefore:before{
    content: none!important;
}
.badge{
    vertical-align: middle;
}


/* Home Stats */
.stats {
    padding: 10px 0 10px 0;
  }
  .stats .counter .number {
    font-size: 4.5rem;
    font-weight: 200;
  }
  .stats .counter .title {
    max-width: 200px;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: bold;
  }